{% extends 'main/layout.html' %}

{% block title %}
    Новости
{% endblock %}

{% block content %}
     <div class ='details'>
         <h1>{{article.title }}</h1>
         <p>{{article.date}}</p>
         <p>{{article.full_text}}</p>
         <div class="card">
         <a href="{% url 'news-delete' article.id %}" class="btn btn-danger btn-custom">Удалить</a>
         <a href="{% url 'news-update' article.id %}" class="btn btn-info btn-custom">Редактировать</a>
             </div>
     </div>
{% endblock %}